@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
html {
    --padding: 10px;
    --bg: rgb(58, 56, 56);
    --fg: whitesmoke;
    --ab: blue;
    --bc: yellow;
    --dh: purple;
}

html.light {
    --padding: 10px;
    --bg: white;
    --bg2: rgb(190, 22, 162);
    --fg: rgb(143, 40, 40);
    --fg2: rgb(10, 8, 8);
    --dh: rgb(74, 160, 86);
}

body {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 40px 1fr 50px;
    margin: 0;
    gap: var(--padding);
    background-color: var(--bg);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: var(--fg)
}

#nav-list {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav {
    grid-row: 1;
    grid-column: 2 / 3;
    background-color: var(--fg2);
}

#side-nav {
    grid-row: 2;
    grid-column: 3;
    margin-right: 10px;
    padding: var(--padding);
}

#content {
    grid-row: 2;
    grid-column: 2;
    background-color: var(--fg);
    font-size: 15px;
    color: var(--fg2);
}

#footer {
    grid-row: 3;
    grid-column: 1 / 4;
    background-color: var(--fg2);
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

#input {
    display: flex;
    align-items: center;
}

#theme-swap {
    position: fixed;
    bottom: calc(var(--padding)*2);
    right: calc(var(--padding)*2);
    padding: var(--padding);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg);
    display: inline-block;
    transition-duration: 0.4s;
    text-decoration: none;
}

#theme-swap:hover {
    background-color: var(--fg2);
}